.text-animate {
  display: inline-block;
  opacity: 0;
  animation: flash;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  min-width: 10px;
}

.text-animate-hover {
  min-width: 10px;
  display: inline-block;
  animation-fill-mode: both;

  &:hover {
    animation: flash 1s;
    color: #0084ff;
  }
}

@for $i from 1 through 35 {
  .text-animate._#{$i} {
    animation-delay: #{$i / 10}s;
  }
}
